section {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

section h1 {
    margin: 0 0 20px;
    font-size: 2rem;
    text-align: center;
}

section a {
    position: absolute;
    bottom: 30px;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
    span { vertical-align: middle; }
}